{% include "header.html" %}

<!-- Page Header -->
      <header>
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>A collection of consistently formatted jokes.</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

<!-- Main Content-->


<div class="my-5" style="margin-top: 5px !important"> 
    <div class="p-5 bg-body-tertiary" style="padding: 5px !important"> 
        <div class="container py-5"> 
            <h5 class="text-body-emphasis"><a href="https://v2.jokeapi.dev/">JokeAPI</a></h5> 
            <p class="col-lg-8 mx-auto lead">This site uses JokeAPI which is a REST API that delivers jokes.</p> 
            <p class="col-lg-8 mx-auto lead">It supports a variety of filters that can be applied to get just the right jokes.</p>
            <p class="col-lg-8 mx-auto lead">Categorizes the jokes depending on what the joke is about or who the joke is directed at. A joke about programming will be in the "Programming" category, dark humor will be in the "Dark" category and so on.</p>
            <p class="col-lg-8 mx-auto lead">Flags are a more fine layer of filtering. Multiple flags can be set on each joke and they tell you something about the offensiveness of each joke.</p>
            <p class="col-lg-8 mx-auto lead">Each joke comes with one of two types: single or twopart.</p>
            
        </div> 
    </div> 
</div>


 {% include "footer.html" %}